@use 'variables' as *;

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

    font-family: $font;
}

body {
    @media screen and (min-width: $desktop) {
        // background-color: black;
    }
}

a {
    text-decoration: none;
}