@use 'variables' as *;
.causes-Wyatt{
    padding: 1.25rem;
    

}
article{
    margin-bottom: 2rem;
}
h2{

    font-size: 42px;
}
.poll{
    color: $offblack;
    padding-bottom: 1rem;
}
.endangerd{
    color:$offblack;
}
.imground{
    
    border-radius: 10px;
}
.overlaysap {
    position: relative;
    display: inline-block;
}

.sapling {
    position: relative;
    display: inline-block;
}

.percent25 {
    position: absolute;
    top: 10px; 
    left: 10px; 
    font-size:40px ;
    color: $gray;
    padding: 5px 10px;
    font-size: 1.5rem;
    font-weight: bold;
}
.highlightmint{
    background-color:#d0ffd6;
}
.ecofriend{
    position: relative;
    display: inline-block;
}
.causes{
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #3c3c3c;
}
.backpack {
    position: relative;
    display: inline-block;
}
.percent33 {
    position: absolute;
    top: 10px; 
    left: 10px; 
    font-size:40px ;
    color: $gray;
    padding: 5px 10px;
    font-size: 1.5rem;
    font-weight: bold;
}
.eco{
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: $offblack;
}
.tour{
    color:$offblack;
}
@media (min-width: 64em) {
    .header2c{
        width: 100%;
        text-align: center;
        text-decoration: none;
        align-items: center;
        align-content: center;
        justify-content: center;

    }
    .causes-Wyatt{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-column: 1 , 2;
        gap: 20px;
        padding: 20px;
    }
.imground{
    min-height: 200px;
    min-width: 200px;
}
.percent25, .percent33{
    position: static;
    order: -1;
}
.sapling, .backpack{
    display: grid;
    grid-template-columns: auto 25%;
}
}