@use 'variables' as *;

header {
    background-color: $olive;
    
    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    a,
    button {
        display: block;
    }
    
    p a {
        padding: 1rem;

        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1em;
    }

    button {
        width: 2.5rem;
        margin: 1rem;
        padding: 0.75rem;

        background-color: $white;
        border: none;
        border-radius: 0.5rem;
        
        line-height: 1em;
    }

    nav {
        display: none;
        margin: 1rem;
        padding: 1rem;

        background-color: $white;
        border-radius: 1rem;
        box-shadow: $shadow;
    }
}