@use 'variables' as *;

.processInitiatingChange {

    // display: grid;
    padding: 1.25rem;
    margin: 0 auto;

    a {

        font-family: $fontFamily;
        border: 1px solid #21404b;
        border-radius: .5rem;
        text-align: center;
        text-decoration: none;
        max-width: 65%;
        padding: 1.25rem;
        color: #21404b;
        // margin: 0 auto;

    }

    a:hover {

        border-color: #0f0f0f;
        background-color: #0f0f0f;
        color: $white;

    }

    img {

        width: $iconSizeDesktop;

    }

    h2 {

        margin: 2rem auto;
        font-size: $fsLarge;
        font-family: $fontFamily;
        font-weight: 500;

    }

    h3 {

        font-size: $fsMedium;
        font-family: $fontFamily;
        font-weight: 500;
        max-width: 50%;

    }

    p {

        font-family: $fontFamily;
        font-size: $fsSmall;
        font-weight: 300;
        max-width: 90%;

    }

    article {

        margin: 2rem auto;
        max-width: 90%;

    }
    

}