// COLORS
$green: #4fa34f;
$mint: #d0ffd6;
$olive: #d5e2bc;
$pink: #d3c0d2;
$white: #e9e9e9;
$black: #0f0f0f;

// _mixins.scss
// Placeholder
// %simple-ul {
//     padding-left: 0;
//     list-style-type: none;
// }
// call using @extend %simple-ul;

// services section variables:

$iconSizeDesktop: 3.75rem;
$imgSizeDesktop: 33.75rem;

$fsSmall: 1rem;
$fsMedium: 1.25rem;
$fsLarge: 2rem;
$fsXtraLrg: 4rem;

$fontFamily: "Plus Jakarta Sans", sans-serif;