:root {

    --bg-color: #ffff;
    --fg-color: #212121;
    --tr-color: #eae8e9;
    --tr-color-2: #4fa350;
    --tr-color-3: #d5e2bd;
    --tr-color-4: #d1fed8;
    --tr-color-5: #dcfef0;

    --font-headers:;
    --font-main:;

    --padding-sml: .75rem;
    --padding-med: 1rem;
    --padding-lrg: 1.5rem;
    --padding-xl: 2rem;

    --margin-sml: .75rem;
    --margin-med: 1rem;
    --margin-lrg: 1.5rem;
    --margin-xl: 2rem;

    --fs-reg: 1rem;
    --fs-lrg: 1.5rem;
    --fs-xl: 2rem;

}

li {

    list-style-type: none;

}

.services {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;

}

.servicesTitles {

    border: 1px solid red;
    padding: 1rem;
    font-size: 12px;
    /* vertical-align: middle; */

}

.servicesHeader {

    font-size: var(--fs-xl);

}

.servicesTitles img {

    width: var(--fs-xl);
    margin-right: 4rem;

}
/* 
.servicesTitleOne {

    margin: 2rem auto;

}

.servicesTitleTwo {

    margin: 2rem auto;

}


.servicesTitleThree {

    margin: 2rem auto;

}

.servicesTitleFour {

    margin: 2rem auto;

}
*/

.servicesDetails {

    border: 1px solid blue;
    padding: 1rem;
    padding-top: 2rem;
    /* margin: 2rem auto; */

} 

.servicesDetailsOne {

    margin: 1rem auto;

}

.servicesDetailsTwo {

    margin: 5rem auto;

}

.servicesDetailsThree {



}

.servicesDetailsFour {



}

